<p id="notice"><%= notice %></p>

<h1>Listing Invites</h1>

<%= link_to 'New Invite', new_invite_path, class: "ui primary button" %><br/><br/>

<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Invitees</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.title %></td>
        <td><%= invite.body %></td>
        <td>
          <% invite.college_department_invites.each do |cdi| %>
            <%= cdi.college_department.college.name %> - <%= cdi.college_department.department.name %>, 
          <% end %>    
        </td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

