<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @invite.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @invite.body %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
