<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <div class="ui input"><%= f.text_field :name %></div><br/><br/>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :fest_id %><br>
    <%= f.collection_select :fest_id, Fest.all, :id, :name, {prompt: "Select Fest"}, {class: "ui search dropdown"} %><br/><br/>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "ui primary button" %><br/><br/>
  </div>
<% end %>
