<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Fest:</strong>
  <%= @event.fest.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "ui primary button" %>
<%= link_to 'Back', events_path, class: "ui black button" %>
