<p id="notice"><%= notice %></p>

<h1>Listing Event Registrations</h1>

<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>College</th>
      <th>Department</th>
      <th>Fest</th>
      <th>Event</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @event_registrations.each do |event_registration| %>
      <tr>
        <td><%= event_registration.name %></td>
        <td><%= event_registration.college %></td>
        <td><%= event_registration.department %></td>
        <td><%= event_registration.event.fest.name %></td>
        <td><%= event_registration.event.name %></td>
        <!-- <td><%#= link_to 'Show', event_registration %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_event_registration_path(event_registration) %></td> -->
        <!-- <td><%#= link_to 'Destroy', event_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Event registration', new_event_registration_path %>
