<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_registration.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @event_registration.college %>
</p>

<p>
  <strong>Department:</strong>
  <%= @event_registration.department %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_registration.event.name %>
</p>

<%= link_to 'Edit', edit_event_registration_path(@event_registration) %> |
<%= link_to 'Back', event_registrations_path %>
