<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @college.email %>
</p>

<p>

	<strong>Departments:</strong><br/>
	
	<% @college.college_departments.each do |college_department| %>
		<br/><strong>Name: </strong>
		<%= college_department.department.name %><br/>
		<strong>Email: </strong>
		<%= college_department.email %><br/>
	<% end %>

</p>

<%= link_to 'Edit', edit_college_path(@college), class: "ui primary button" %>
<%= link_to 'Back', colleges_path, class: "ui black button" %>
