<!DOCTYPE html>
<html>
	<head>
		<title>FestManagement</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<%= link_to "Colleges", colleges_path %>
		<%= link_to "Departments", departments_path %>
		<%= link_to "Fests", fests_path %>

	</head>
	<body>

		<%= yield %>

	</body>
</html>
